
<%= simple_form_for @invoice, url: invoices_load_xml_path do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="control-group">
      <%= f.label :xml_file, class: 'control-label' %>
        <div class="controls">
          <%= f.file_field :xml_file %>
        </div>
    </div>
    <div class="form-actions">
      <%= f.submit 'carregar xml', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div class="container">
  <div>
    <h2>Upload de documento</h2>
    <%= link_to "XML" %>
    <%= link_to "IMG" %>
    <%= link_to "PDF" %>
  </div>
  <div>
    <h2>Dados do título</h2>
      <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= simple_form_for(@invoice, url: invoices_path) do |f| %>
            <h3>Cedente</h3>

            <h3>Sacado</h3>
            <%= f.simple_fields_for :payer do |payer| %>
              <%= payer.input :company_name %>
              <%= payer.input :identification_number %>
            <% end %>
            <%= f.input :invoice_type , as: :radio_buttons, collection: [['Nota fiscal', 'nota_fiscal'], ['Cheque', 'check'], ['Outros', 'outro']], label: "Tipo de documento:" %>
            <%= f.input :invoice_number %>
            <%= f.input :contract_number %>
            <%= f.input :check_number %>
            <table class="table">
              <thead>
                <th></th>
                <th>Número</th>
                <th>Valor de face</th>
                <th>Data de Vencimento</th>
              </thead>
              <tbody class="installments">
                <%= f.simple_fields_for :installments do |builder| %>
                  <%= render 'installment_fields', f: builder %>
                <% end %>
              </tbody>
            </table>
            <%= link_to_add_association 'Adicionar parcela', f, :installments, class: "btn btn-primary", data: { association_insertion_node: '.installments', association_insertion_method: :append }  %>
            <%= f.input :total_value%>
            <%= f.submit "Salvar invoice", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
