<div class="container">
  <%= @seller.company_name %>

  <% @invoices.each do |invoice| %>
    <div class="row">
      <div class="col-xs-12">
        <p>Invoice <%= invoice.invoice_number %> <%= invoice.total_value %> <%= invoice.average_outstanding_days %></p>
        <p>Installments</p>
        <% invoice.installments.each do |installment| %>
          <p><%= installment.number %> <%= installment.value %> <%= installment.due_date %> <%= installment.outstanding_days %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modal-button">
        Adicionar Invoice
  </button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova Invoice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>Olha o meu modal</h2>
        </div>
      </div>
    </div>
  </div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      document.getElementById('modal-button').click(function() {
        document.getElementById('myModal').modal();
      });
    <% end %>
  <% end %>

</div>
